# Virtual envs
.venv/
venv/
env/
.clean/
.env/
.python-version

# Python cache/compiled
__pycache__/
*.py[cod]
*.so

# Build & packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Test/coverage
.pytest_cache/
.coverage*
htmlcov/
.tox/
.nox/
.hypothesis/

# Linters / type checkers
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# IDE/editor
.vscode/
.idea/
*.swp

# OS junk
.DS_Store