# Virtual envs
.venv/
.venv_*/
venv/
env/
.clean/
.env/
.python-version

# Python cache/compiled
__pycache__/
*.py[cod]
*.pyo
*.so

# Build & packaging
build/
dist/
pip-wheel-metadata/
.eggs/
*.egg-info/
clematis.egg-info/

# Test/coverage
.pytest_cache/
.coverage*
coverage.xml
htmlcov/
.tox/
.nox/
.hypothesis/

# Linters / type checkers
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/

# IDE/editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store
